<html>

<head>
    
    <style>
    body {
    margin-top: 150px;
    margin-bottom: 100px;
    margin-right: 100px;
    margin-left: 80px;
    
    color:#404040;
    }
    </style>
    
    <title>UW Internet of Things Class: Lab #2</title>
</head>

<body>
  <font face = "arial,helvetica">
  
  <h2>GPIO API and WebApp on a Raspberry PI</h2>
  <br>
  <p><block style="width:120px; display:inline-block; overflow:hidden">&nbsp;&nbsp;Switch</block>
  (on GPIO 27): {{'On' if switch else 'Off'}}</p>



  <p>
    <button style="width:120px; height:50px; color:white; background:red" type='button' id='red_led_btn'>
        Toggle Red LED
    </button>
    (on GPIO 18): {{'ON' if led1 else 'OFF'}}
    <br>
    <button style="width:120px; height:50px; color:white; background:green" type='button' id='grn_led_btn'>
        Toggle Green LED
    </button>
    (on GPIO 13): {{'ON' if led2 else 'OFF'}}
    <br>
    <button style="width:120px; height:50px; color:white; background:blue" type='button' id='blu_led_btn'>
        Toggle Blue LED
    </button>
    (on GPIO 23): {{'ON' if led3 else 'OFF'}}
    <br>
  </p>
  <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>

  <script>
    // As explained in the notes for the class assignment, we need to make sure the data is in sync
    // So there seems to be a lot of work here to do that, with checking for the document
    // being loaded before getting the data, adding delays, and more...
    
    // start executing only after document has loaded
        $(document).ready(function() {
          // establish global variables for LED status
          var led1;
          var led2;
          var led3;

          // Let's read the current LED state
function initial_conditions() {
  var d = $.Deferred();

  setTimeout(function() {
    $.get('/leds/1',function(data){
      led1 = $.trim(data.split(':')[1]);
    });

    $.get('/leds/2',function(data){
      led2 = $.trim(data.split(':')[1]);
    });

    $.get('/leds/3',function(data){
      led3 = $.trim(data.split(':')[1]);
    });

    // console.log("Got my data now!");
    d.resolve(); // okay, done.
  }, 10); // 10 milliseconds timeout
  return d.done();
}

// Let's initialize our LED vars to the current LED state "ON"/"OFF"
function led_status() {
  var d = $.Deferred();

  setTimeout(function() {
    if (led1 === '0') {led1 =  "OFF"} else {led1 =  "ON"}
    if (led2 === '0') {led2 =  "OFF"} else {led2 =  "ON"}
    if (led3 === '0') {led3 =  "OFF"} else {led3 =  "ON"}
    d.resolve(); // okay got what we need

    console.log("RED:",led1);
    console.log("GRN:",led2);
    console.log("BLU:",led3);
  }, 100); // 100 milliseconds timeout
  return d.promise();
}


// Step F1: Build a Javascript function sequence in CodePen
// We will use the jQuery Deferred execution model with 'resolve' and 'promise'
// methods to synchronize the execution.
//
// javascript
function firstFunction() {
    var d = $.Deferred();
    // some very time consuming asynchronous code...
    setTimeout(function() {
        console.log('1');
        d.resolve(); // got what we need
    }, 1000); // 1 second timeout
                          
    return d.promise();
}
                          
                          
function secondFunction() {
    var d = $.Deferred();
    setTimeout(function() {
               console.log('2');
               d.resolve();
    }, 1000); // 1 second timeout
    return d.promise();
}

function thirdFunction() {
    var d = $.Deferred();
    setTimeout(function() {
               console.log('3');
               d.resolve();
    }, 1000); // 1 second timeout
                          
    return d.promise();
}
                          
function fourthFunction() {
    var d = $.Deferred();
    // last function, not executed until the other 3 are done.
    setTimeout(function() {
               console.log('4');
               d.resolve();
    }, 1000); // 1 second timeout
    return d.promise();
}
                          
// sequence through the synchronous functions using '.then'
firstFunction().then(thirdFunction).then(secondFunction).then(fourthFunction);
                          
                          

// make sure to intialize synchronously (10ms back to back -- this is in the setTimeout function)
initial_conditions().then(led_status);

          // The button click functions run asynchronously in the browser
          $('#red_led_btn').click(function() {
            if (led1 === "OFF") {led1 = "ON";} else {led1 = "OFF";}
            var params = 'led=1&state='+led1;
            console.log('Led Command with params:' + params);
            $.post('/ledcmd', params, function(data, status){
                    console.log("Data: " + data + "\nStatus: " + status);
            });
          });

          // The button click functions run asynchronously in the browser
          $('#grn_led_btn').click(function() {
            if (led2 === "OFF") {led2 = "ON";} else {led2 = "OFF";}
            var params = 'led=2&state='+led2;
            console.log('Led Command with params:' + params);
            $.post('/ledcmd', params, function(data, status){
                    console.log("Data: " + data + "\nStatus: " + status);
            });
          });
          // The button click functions run asynchronously in the browser
          $('#blu_led_btn').click(function() {
            if (led3 === "OFF") {led3 = "ON";} else {led3 = "OFF";}
            var params = 'led=3&state='+led3;
            console.log('Led Command with params:' + params);
            $.post('/ledcmd', params, function(data, status){
                    console.log("Data: " + data + "\nStatus: " + status);
            });
          });

        });
  </script>

</body>

</html>
