<html>

<head>
  <meta charset="utf-8">

  <!-- href="{{ url_for('static',filename='css/bootstrap.min.css') }}" -->
  
  <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../static/css/core.css">
  <link rel="stylesheet" type="text/css" href="../static/css/custom-slider.css">

  <title>UW IoT Class: Lab #3</title>
</head>

<body>
  <font face = "arial,helvetica">

  <h2>GPIO API and WebApp on a Raspberry PI</h2>
  <br>

<!-- the container, row and col-mid- classes are from bootstrap.css -->
<div class="container">
  <div class="row" align="vertical">
    <div class ="col-mid-1">
      <img id="switch-opened" src="../static/images/switch-opened.png" alt="SWITCH OFF" width="155" height="105">
      <img id="switch-closed" class="hide-this" src="../static/images/switch-closed.png" alt="SWITCH ON" width="155" height="105">
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-mid-2 valign-parent">
      <label class="switch valign-child">
        <input id="red-checkbox" type="checkbox">
        <span class="slider round red"></span>
      </label>
    </div>

    <div class ="col-mid-2">
      <img id="red-off" src="../static/images/red-off.png" alt="Red LED OFF" width="110" height="135">
      <img id="red-on" class="hide-this" src="../static/images/red-on.png" alt="Red LED ON" width="110" height="135">
    </div>
  </div>
</div>

<div class="container">
  <div class="row" align="vertical">
    <div class="col-mid-2 valign-parent">
      <label class="switch valign-child">
        <input  id="green-checkbox" type="checkbox">
        <span class="slider round green"></span>
      </label>
    </div>

    <div class ="col-mid-2">
      <img id="green-off" src="../static/images/green-off.png" alt="Green LED OFF" width="110" height="135">
      <img id="green-on" class="hide-this"  src="../static/images/green-on.png" alt="Green LED ON" width="110" height="135">
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-mid-2 valign-parent">
      <label class="switch valign-child">
        <input id="blue-checkbox" type="checkbox">
        <span class="slider round blue"></span>
      </label>
    </div>

    <div class ="col-mid-2">
      <img id="blue-off" src="../static/images/blue-off.png" alt="Blue LED OFF" width="110" height="135">
      <img id="blue-on" class="hide-this" src="../static/images/blue-on.png" alt="Blue LED ON" width="110" height="135">
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
<script src="../static/js/core.js"></script>
<script src="../static/js/bootstrap.min.js"></script>

</body>

</html>
