body {
  background-color: rgb(51, 0, 111);
  width: 800px;
  padding-top: 5px;
}

#title {
  text-align: center;
}

.panel {
  margin: 5px auto;
  background-color: darkgray;
  border-radius: 5px;
}

.container {
}

.well {
  width: 100%;
  padding: 0.5%;
}

.well-sm {
  margin: 5px auto;
  padding: 5px;
}

div {
  text-align: center;
}

span.label  {
    font-size: 1.1em;
}
