<html>


<head>
  <meta charset="utf-8">
  <title>Schrodinger's Cat: The Internet of Quantum Things</title>

  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/morris.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/jquery-ui.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/quantum.css') }}">
  <link rel="stylesheet" type="text/css" href="./static/css/bootstrap.min.css">

  <script src="{{ url_for('static',filename='js/jquery-3.1.1.min.js') }}"></script>
  <script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static',filename='js/raphael.min.js') }}"></script>
  <script src="{{ url_for('static',filename='js/morris.min.js') }}"></script>
  <script src="{{ url_for('static',filename='js/jquery-ui.min.js') }}"></script>
  <script src="{{ url_for('static',filename='js/quantum2.js') }}"></script>

</head>


<body>
  <div>
    <div>
      <h4 id='title'>UW IoT | Schr&ouml;dinger's Cat: The Internet of Quantum Things</h4>
    </div>

    <div id='message'>
    </div>

    <br />
    <br />

    <div id='cat-donut'>
    </div>

    <br />
    <br />

    <div id='cat-past-ten'>
      <div class="container">
        <div class="row">
          <div class="col-md-2" id="cat-past-ten-0"></div>
          <div class="col-md-2" id="cat-past-ten-1"></div>
          <div class="col-md-2" id="cat-past-ten-2"></div>
          <div class="col-md-2" id="cat-past-ten-3"></div>
          <div class="col-md-2" id="cat-past-ten-4"></div>
          <div class="col-md-2" id="cat-past-ten-5"></div>
          <div class="col-md-2" id="cat-past-ten-6"></div>
          <div class="col-md-2" id="cat-past-ten-7"></div>
          <div class="col-md-2" id="cat-past-ten-8"></div>
          <div class="col-md-2" id="cat-past-ten-9"></div>
        </div>
      </div>
    </div>

  </div>


  <script type="text/javascript">
    var iotSource = new EventSource("{{ url_for('startParadox') }}");
    // intercept the incoming states from SSE
  </script>



</body>

</html>
