body {
  margin-top: 150px;
  margin-bottom: 100px;
  margin-right: 100px;
  margin-left: 80px;

  color:#404040;
}

.valign_parent {
  position:relative;
}

.valign-child {
  position:absolute;
  top:50%;
  transform:translateY(-50%);
}

.hide-this {
  display:none;
}
