.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.blue {
}

.red {
}

.green {
}

input:checked + .blue {
  background-color: #0000FF;
}

input:focus + .blue {
  box-shadow: 0 0 1px #0000FF;
}

input:checked + .red {
  background-color: #FF0000;
}

input:focus + .red {
  box-shadow: 0 0 1px #FF0000;
}

input:checked + .green {
  background-color: #00FF00;
}

input:focus + .green {
  box-shadow: 0 0 1px #00FF00; 
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
